/*
    DEMO STYLE
*/

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #111111;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 32px 0;
  background: #222222;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #6c757d;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #666666;
}

#sidebar > ul > li.active > a,
#sidebar > a[aria-expanded='true'] {
  color: #fff;
  background: #222222;
}

a[data-toggle='collapse'] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content.active {
    margin-left: 250px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    position: fixed;
    height: 100vh;
  }
  #content {
    margin-left: 250px;
  }
  #content.active{
    margin-left: 0;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

/* Avatar */
.user-menu-wrap {
  position: relative;
  border-radius: 5px;
  padding: 5px;

}

.user-menu-wrap:hover{
    background-color: #dfdfdf;
    cursor: pointer;
}

.menu-container {
  visibility: hidden;
  opacity: 0;
}
.menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1000;
}

.user-menu {
  position: absolute;
  right: -22px;
  background-color: #ffffff;
  width: 256px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}
.user-menu .profile-highlight {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 6px;
}
.user-menu .profile-highlight .details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
}
.user-menu .profile-highlight .details #profile-name {
  font-weight: 600;
  font-size: 14px;
}
.user-menu .profile-highlight .details #profile-footer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
}
.user-menu .footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 6px;
  margin-top: 6px;
}
.user-menu .footer .user-menu-link {
  font-size: 13px;
}
.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 16px;
}
.user-menu .user-menu-link div {
  margin: auto 10px;
}
.user-menu .user-menu-link:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}
.user-menu:before {
  position: absolute;
  top: -16px;
  left: 210px;
  display: inline-block;
  content: '';
  border: 8px solid transparent;
  border-bottom-color: #e0e0e0;
}
.user-menu:after {
  position: absolute;
  top: -14px;
  left: 211px;
  display: inline-block;
  content: '';
  border: 7px solid transparent;
  border-bottom-color: #ffffff;
}

/* Icon 1 */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 35px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #222222;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}
